<h1>New Review</h1>

<%= form_with(model: @review, local: true) do |form| %>


  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :review_username %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, id: :review_content %>
  </div>
  <div class="field">
    <%= form.label :article_id %>
    <%= form.text_field :article_id, id: :review_article_id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Back', reviews_path %>
